
.green {
    background-color: #00e400;
}

.yellow {
    background-color: #ffff00;
}

.orange {
    background-color: #ff7e00;
}

.red {
    background-color: #ff0000;
}

.purple {
    background-color: #8f3f97;
}

.maroon {
    background-color: #7e0023;
}
#map {
    display:flex;
    flex-wrap: wrap;
}

#sunrise {
    text-align: center;
}

#sunset {
    text-align: center;
}